/*Style for everything*/
html{
    background-color: rgb(218, 234, 243);
} 

p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 20px; 
    text-align: justify;
    padding-left: 10px;
}

h3 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    color: rgb(10, 10, 88);
}


/*Main Page style*/

h1 {
    position: absolute;
    top: 10px;
    left: 400px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    color: rgb(10, 10, 88);
}

#main-image {
    position: absolute;
    top: 150px;
    left: 40px;
    width: 500px;
    padding: 5px;
    border: 2px solid rgb(10, 10, 88);
}

#main_text {
    position: absolute;
    top: 250px;
    left: 600px;
}

#instruction1 {
    position: absolute;
    top: 350px;
    left: 750px;
}

#part_1_link {
    color: white;
    background-color: rgb(29, 63, 114);
    position: absolute;
    top: 400px;
    left: 720px;
    border: 2px solid rgb(10, 10, 88);
    padding: 10px;
    text-decoration: none;
}

#part_2_link {
    color: white;
    background-color: rgb(29, 63, 114);
    position: absolute;
    top: 400px;
    left: 1060px;
    border: 2px solid rgb(10, 10, 88);
    padding: 10px;
    text-decoration: none;
}



/*Back to main page url*/
#back-main-page {
    background-color: rgb(29, 63, 114);
    color: white;
    position: absolute;
    top: 500px;
    left: 470px;
    text-decoration: none;
    padding: 10px;
    border: 2px solid rgb(10, 10, 88);
}

#see-more {
    background-color: rgb(29, 63, 114);
    color: white;
    position: absolute;
    top: 500px;
    left: 700px;
    text-decoration: none;
    padding: 10px;
    border: 2px solid rgb(10, 10, 88);
}

/*Most spoken language style*/

#title_part_1 {
    position: absolute;
    top: 10px;
    left: 450px;
}

#lan1-image, #lan2-image, #lan3-image, #lan4-image, #lan5-image, #lan6-image, #lan7-image, #lan8-image, #lan9-image, #lan10-image  {
    width: 400px;
    height: 200px;
}

#most_spoken_lan1, #most_spoken_lan2, #most_spoken_lan3, #most_spoken_lan4, #most_spoken_lan5, #most_spoken_lan6, 
#most_spoken_lan7, #most_spoken_lan8, #most_spoken_lan9, #most_spoken_lan10 {
    max-width: 100%;
    padding: 10px;
    border: 2px solid rgb(10, 10, 88);
    background-color: transparent;
    margin-bottom: 5px;
    margin-left: 20px;
}

#most_spoken_lan1, #most_spoken_lan4, #most_spoken_lan7, #most_spoken_lan10 {
    position: absolute;
    top: 100px;
    left: 0px;
}

#most_spoken_lan2, #most_spoken_lan5, #most_spoken_lan8 {
    position: absolute;
    top: 100px;
    left: 450px;
}

#most_spoken_lan3, #most_spoken_lan6, #most_spoken_lan9 {
    position: absolute;
    top: 100px;
    left: 900px;
}

/*Facts page*/

#facts-image {
    position: absolute;
    top: 100px;
    left: 50px;
    height: 400px;
    width: 400px;
    padding: 5px;
    border: 2px solid rgb(10, 10, 88);
}

#title_part_2 {
    position: absolute;
    top: 10px;
    left: 570px;
}

#paragraph {
    position: absolute;
    top: 150px;
    left: 500px;
}

#back-main-page2 {
    background-color: rgb(29, 63, 114);
    color: white;
    position: absolute;
    top: 500px;
    left: 850px;
    text-decoration: none;
    padding: 10px;
    border: 2px solid rgb(10, 10, 88);
}